@import url(https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap);

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}
:root {
    --primary-color: #091540;
    --secondary-color: #7692FF;
    --accent1-color: #ABD2FA;
    --accent2-color: #3D518C;
    
    --heading-font: '______', serif;
    --paragraph-font: '_____',serif;

    --nav-background-color: #3D518C;
    --nav-link-color:#ABD2FA;
    --nav-hover-link-color:#ABD2FA;
    --nav-hover-background-color: #3D518C;
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

header {
    padding: 20px;
    background-color: var(--accent1-color);
}

p {
    padding: 25px;
}
