@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header, footer, .grid {
  margin: 0 auto;
  max-width: 840px;
}

header,
footer {
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-evenly;
  background-color: antiquewhite;
  padding: 10px;
}

nav a {
  color: steelblue;
  padding: 10px;
  display: block;
  text-decoration: none;
}

h1 {
  color: steelblue;
  border-bottom: 1px solid #ccc;
}

.grid {
  display: grid;
  align-items: center;
}

aside {
  width: 20em;
  margin: 1em;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 1em;
  background-color: #eee;
  color: #333;
  text-align: center;
  position: relative;
}

main {
  padding: 1em;
  background-color: #ddd;
  color: #000;
}

footer {
  margin-top: 20px;
  border-top: 1px solid #ccc;
  text-align: center;
}

body {
  font-family: 'Open Sans', sans-serif;
}

aside img {
  width: 200px;
  height: auto;
  text-align: center;
}

aside h2 {
  position: absolute;
  top: 47px;
  left: 150px;
}

main img {
  width: 150px;
  height: auto;
  border: 1px solid steelblue;
  padding: 2px;
  box-shadow: 0 0 30px gray;
}